---
import config from "@/config/config.json";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { FaRegFolder, FaRegUserCircle } from "react-icons/fa/index.js";

const {
  summary_length,
  project_folder,
}: { summary_length: number; project_folder: string } = config.settings;
const { data } = Astro.props;
const { title, image, description } = data.data;
let lang = "";
if (data.slug.split("/").length > 1) {
  lang = "/" + data.slug.split("/")[0];
  data.slug = data.slug.split("/")[1];
}
const path = `${lang}/${project_folder}/${data.slug}`;
---

<div class="bg-body dark:bg-darkmode-body">
  {
    image && (
      <Image
        class="mb-6 w-full rounded"
        src={image}
        alt={title}
        width={445}
        height={230}
        format="webp"
      />
    )
  }
  <h4 class="mb-3">
    <a href={path}>
      {title}
    </a>
  </h4>
  <p class="mb-6">{plainify(description)}</p>
  <a class="btn btn-outline-primary btn-sm" href={path}> read more</a>
</div>
